
<section class="container__banner">
    <app-banner-home></app-banner-home>
</section>


<section class="container__cards">
   
    <app-tv classColors="first" title="Home TV" routeImage="../../../assets/images/television.svg"></app-tv>

    <app-tv [isFan]="true" classColors="second"  title="Fan" routeImage="../../../assets/images/ac.svg" ></app-tv>

    <app-tv [isFan]="false" classColors="fourth" title="Light" routeImage="../../../assets/images/lightbulb-off.svg"></app-tv>

    <app-tv [isFan]="false" classColors="third-1" title="Vigilance" routeImage="../../../assets/images/security-camera.svg"></app-tv>

    <app-tv [isFan]="true" classColors="third" title="Air .." routeImage="../../../assets/images/air-conditioner.svg"></app-tv>

    <app-tv [isFan]="false" classColors="fith" title="Router" routeImage="../../../assets/images/wifi-router.svg"></app-tv> 

</section>



