.tv{
    width: 310px;
    height: 430px;
    border-radius: 7px;
    margin:0px 2px;
    transform: scale(.9);
    border:none;
    /* background-image:linear-gradient(to bottom, rgba(231, 97, 19, 0.966),rgba(226, 150, 64, 0.966)); */
   
}

.banner__tv{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    background-color: rgb(32, 32, 34);
    padding:8px 15px;
    font-family: monospace;
    color: white; 
    font-size:16.8px;
    text-align:center;
    width:80px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: 550;
}
.poster{
    border-radius: 50%;
    width:152px;
    height:152px;
    box-shadow: -2px 5px 15px rgb(175, 174, 174);
    padding: 3px;
    background-color:white;
}
.poster img{
    transform: scale(.7);
    width:150px;
    
}
 
.container__poster{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height:200px;

}


.controls{
    padding: 6px;
    display:flex;
    height: 40px;
    cursor:pointer;
    margin-bottom:6px;
    /* border-bottom:1.5px solid rgba(161, 161, 161, 0.897); */
    align-items:center;
    justify-content: space-between;
}
 
.controls h1,p{
    letter-spacing: .1px;
    color:white;
    font-family:helvetica;
    font-weight: 500;
    font-size:18px;
}
 