/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.first{
   background-image: linear-gradient(to bottom, rgba(231, 97, 19, 0.966),rgba(226, 150, 64, 0.966))
}

.second{
    background-image: linear-gradient(to bottom, rgba(52, 118, 218, 0.966),rgba(75, 24, 156, 0.966))
 }

 .third{
    background-image: linear-gradient(to bottom, rgba(218, 36, 163, 0.966),rgba(133, 22, 127, 0.966))
 }


 .third-1{
    background-image: linear-gradient(to top, rgba(54, 52, 54, 0.966),rgba(211, 208, 208, 0.966))
 }


 .fourth{
    background-image: linear-gradient(to bottom, rgba(177, 182, 252, 0.966),rgba(80, 86, 163, 0.966))
 }

 .fith{
    background-image: linear-gradient(to bottom, rgba(92, 216, 62, 0.966),rgb(53, 145, 53))
 

 }



 .animate{
    animation: appear 1s ease-in;
 }
 @keyframes appear{
    from{
       opacity: 0;
    }
    to{
      opacity: 1;
    }
 }

 .animate__card{
   animation: appearTranslate 1.8s ease-in;
   transition:1s;
}
@keyframes appearTranslate{
   from{
       opacity: 0;
   }
   to{
       opacity:1;
   }
}
